---
Checks: >
  -*,
  bugprone-*,
  clang-analyzer-*,
  concurrency-*,
  cppcoreguidelines-*,
  performance-*,
  readability-*,
  modernize-*,
  -cppcoreguidelines-avoid-non-const-global-variables,
  -modernize-use-trailing-return-type,
  -bugprone-easily-swappable-parameters,
  -cppcoreguidelines-pro-type-reinterpret-cast,
  -performance-no-int-to-ptr
CheckOptions:
  cppcoreguidelines-avoid-magic-numbers.IgnorePowersOf2IntegerValues: 1
  readability-magic-numbers.IgnorePowersOf2IntegerValues: 1
  cppcoreguidelines-avoid-magic-numbers.IgnoredIntegerValues: 255;3;5;6
  readability-magic-numbers.IgnoredIntegerValues: 255;3;5;6
  readability-identifier-length.IgnoredVariableNames: "x|y|z|w|e|i|j|k"
  readability-identifier-length.IgnoredParameterNames: "x|y|z|w|e|i|j|k"
  cppcoreguidelines-special-member-functions.AllowMissingMoveFunctions: true
